{% extends 'trip/_base.html' %}
{% block title %}Trip List{% endblock %}

{%block content %}

<h1>Your Trips</h1>
{% for trip in trips %}
<div>
  <ul>
    <li>
      <strong>{{ trip.country }} | {{ trip.city }}</strong>
      <a href="{% url 'trip-detail' trip.id %}">details</a>
      <br />
      {% if trip.start_date %}
      <em>
        {{ trip.start_date|date:"F jS" }}
        {% else %}
        TBA
        {% endif %}
      </em>
      -
      <em>
        {% if trip.end_date %}
        {{ trip.end_date|date:"F jS" }}
        {% else %}
        TBA
        {% endif %}
      </em>
    </li>
  </ul>
</div>
{% endfor %}

{% endblock %}
