{% extends "trip/_base.html" %}

{% block title %}Trip Detail{% endblock %}

{% block content %}
<h1>Trip Details</h1>
<div>
  <p><strong>{{ trip.country }} | {{ trip.city }}</strong></p>
  <hr />
  <h3>Notes:</h3>
  <div>
    {% for note in notes %}
    <div>
      <img height="250px" src="{{ note.img.url }}" alt="{{ note.title }}" />
      <div>
        <strong><em>Title: </em></strong>{{ note.name }} | 
        <a href="{% url 'note-detail' note.pk %}">View Note</a>
      </div>
      <div><strong>Rating: </strong>{{ note.rating }}</div>
    </div>
    {% endfor %}
    <div>
      <br />
      <a href={% url 'note-create' %}>New Note +</a>
    </div>
  </div>
</div>
{% endblock %}
